﻿@using SportsStore.Domain.Entities
@model IEnumerable<Product>

<div>
    <p>
        @using (Html.BeginForm("FilterProducts", "Products"))
        {
            @:Filter By: @Html.DropDownList("ProductFilter",
                                    new SelectList(Enum.GetNames(typeof(ProductCategory))),
                                    "Show All")
            <input type="submit" value="Apply Filter"/>
        }
    </p>
</div>
<div> 
    @foreach (Product prod in Model)
    {
        <div>
            <h3>@prod.Name</h3>
            @prod.Description
            <h4>@prod.Price.ToString("c")</h4>
            <p>
                @using (Html.BeginForm("AddToCart", "Shopping"))
                {
                    @Html.Hidden("ProductID", prod.ProductID)
                    @Html.Hidden("ReturnUrl", Request.Url.PathAndQuery)
                    <input type="submit" value="Add to Cart" />
                }
            </p>
        </div>
    }
</div>

