﻿@model SportsStore.WebApp.ViewModels.UserViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="panel-body">
    @Html.ValidationSummary()
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label>User Name:</label>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>

            <div class="form-group">
                <label>Password:</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>

            <input type="submit" value="Login" class="btn btn-primary" />
    }
</div>
