﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script> 
    
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="/Products/List">PROG30000 - Sports Store</a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Manager Store", "Index", "StoreAdmin")</li>
                <li>@Html.ActionLink("Login", "Login", "UserAccounts")</li>
            </ul>
        </div>
    </div>

    <div>
        
        @if (TempData["message"] != null)
        {
            @*TODO: divise a mechanism to allow controllers to specify whether
                the message is a success or error and use it here to to change
                the CSS class
            *@
            <div class="alert alert-success">@TempData["message"]</div>
        }

        @RenderBody()
    </div>

</body>
</html>
