﻿@using SportsStore.Domain.Entities
@model ShoppingCart

<div> 
        <table>
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProductOrder order in Model.OrderList)
                {
                    <tr>
                        <td>@order.Quantity</td>
                        <td>@order.Product.Name</td>
                        <td>@order.Product.Price.ToString("c")</td>
                        <td>@order.Subtotal.ToString("c")</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total:</td>
                    <td>@Model.OrderTotal().ToString("c")</td>
                </tr>
            </tfoot>
        </table>

        <div>
            <a href="@ViewBag.ReturnUrl">Continue Shopping</a>
        </div>
    </div>

